{{#each this}}
  {{#if is_section}}
    <div class="menu-section">
      {{#if url}}
        <a class="menu-section-title" href="{{url}}">
          {{title}}
          <span class="arrow">&#9660;</span> <!-- Downward arrow symbol -->
        </a>
      {{else}}
        <div class="menu-section-title" onclick="toggleSubMenu(this)">
          {{title}}
          <span class="arrow">&#9660;</span> <!-- Downward arrow symbol -->
        </div>
      {{/if}}
      <div class="submenu">
        {{> navigation_template children}}
      </div>
    </div>
  {{else}}
    <a class="menu-item" href="{{url}}">{{title}}</a>
  {{/if}}
{{/each}}

<script>
    function toggleSubMenu(element) {
      // Directly toggle the submenu of the clicked menu section
      const submenu = element.nextElementSibling; // Assuming the submenu div immediately follows the title div
      if (submenu.style.display === 'none' || submenu.style.display === '') {
        submenu.style.display = 'block'; // Show submenu
        element.querySelector('.arrow').style.transform = 'rotate(360deg)'; // Flip arrow upwards
      } else {
        submenu.style.display = 'none'; // Hide submenu
        element.querySelector('.arrow').style.transform = ''; // Reset arrow to original state
      }
    }
</script>